@charset "UTF-8";

h1 {
    font-family: 'Atma', cursive;
    text-align: center;
    color: aliceblue;
    background-color: rgb(2, 6, 12);
         height: 300px;
         width: 600px;
         border-width: 3px;
         border-style: solid;
         border-color: rgb(81, 95, 175);
         
}
nav {
    font-size: 20px;
    word-spacing: 70px;
    text-align:center;
    

}
nav > a {
    color: aliceblue;
}



footer {
    color: aliceblue;
    font-size: 20px;

    text-align: center;
  
}